.screen {
  display: grid;
  grid-template-rows: 10fr, 80fr, 10fr;
  grid-template-columns: 35fr 30fr 35fr;
  height: 100vh;
}

.calculate {
  background: #1d2b64; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f8cdda, #1d2b64); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f8cdda,
    #1d2b64
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  grid-column: 2;
  grid-row: 2;

  border-radius: 5%;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  margin: 1em;
  display: grid;
  place-items: center;
  width: 3em;
  height: 3em;
  background-color: rgb(243, 205, 255);
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.display {
  display: grid;
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  margin: 1em;
  padding: 0.5em;
  background-color: white;
  border-radius: 3%;
}

.disabled {
  background-color: rgb(139, 139, 139);
}
